@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: 'TT Hoves', 'SF Pro Display';
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
    margin-top: 120px;
}