<section class="section about" id="about">
    <div class="container about-wrapper">
        <div class="trigger-element img-wrapper-about animated-element">
            <ul class="img-list-about ">
                <li class="img-list-about__item">
                    <picture><img class="first-img-item" src="./images/about-img.jpg" /></picture>
                </li>
                <li class="img-list-about__item">
                    <picture><img class="third-img-item" src="./images/about2-img.jpg" /></picture>
                </li>
            </ul>
            <ul>
                <li class="img-list-about__item">
                    <picture><img class="second-img-item" src="./images/about1-img.jpg" /></picture>
                </li>
            </ul>
        </div>
        <div class="info-wrapper__about">
            <h1 class="title ">О компании</h1>
            <article class="about-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has
                been the
                industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a
                type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially
                unchanged.</article>
            <button type="button" class="about-button">Читать <span><svg class="button-arrow__btn">
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg></span></button>
        </div>
    </div>
</section>