<footer class="foot">
    <div class="container footer">
        <div class="info-footer">
            <h3>Информация</h3>
            <ul class="page-footer-desktop__list">
                <li class="page-footer-desktop__menu-item ">
                    <a href="./index.html" class="footer-link link">Главная</a>
                </li>
                <li class="page-footer-desktop__menu-item ">
                    <a href="#galery" class="footer-link link">Галерея</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#products" class="footer-link link">Проекты</a>
                </li>
                <li class="page-footer-desktop__menu-item ">
                    <a href="#sertificates" class="footer-link link">Сертификаты</a>
                </li>
                <li class="page-footer-desktop__menu-item ">
                    <a href="#contacts" class="footer-link link">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="footer__contacts">
          <a href="#" class="link logo-link">
            <img src="./images/logo.png" class="logo-img" />
          </a>
          <h3>Контакты</h3>
          <address>

            <ul class="list-contacts">
              <li class="list-contacts__item">
                <a class="list-contacts__link address-link link"
                   href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9" target="_blank"
                   rel="noopener noreferrer nofollow">
                  100000, Республика Казахстан, г. Караганда, ул.
                  Телевизионная 10
                </a>
              </li>
              <li class="list-contacts__item">
                <a class="list-contacts__link link" href="tel:+380961111111">
                  +38 (000) 000 00 00
                </a>
              </li>
              <li class="list-contacts__item">
                <a class="list-contacts__link link"
                   href="mailto:info@devstudio.com">mail@gmail.com</a>
              </li>

            </ul>
          </address>
        </div>
        <div class="network-links">
            <h3 class="footer__title">FOLLOW US</h3>
            <ul class="list-social-network">
                <li class="list-social-network__item"> <a class="dark social-link link"
                        href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer nofollow"><svg
                            aria-label="логотип Інстаграм" class="social-link__icon-dark">
                            <use href="./images/icons.svg#icon-instagram-logo"></use>
                        </svg></a></li>
                <li class="list-social-network__item"><a class="dark social-link link" href=" https://twitter.com/"
                        target="_blank" rel="noopener noreferrer nofollow"><svg aria-label="логотип Твіттер"
                            class="social-link__icon-dark">
                            <use href="./images/icons.svg#icon-twitter-logo"></use>
                        </svg></a></li>
                <li class="list-social-network__item"><a class="dark social-link link" href=" https://www.facebook.com/"
                        target="_blank" rel="noopener noreferrer nofollow"><svg aria-label="логотип Фейсбук"
                            class="social-link__icon-dark">
                            <use href="./images/icons.svg#icon-facebook-logo"></use>
                        </svg></a></li>
                <li class="list-social-network__item"><a class="dark social-link link" href=" https://www.linkedin.com/"
                        target="_blank" rel="noopener noreferrer nofollow"><svg aria-label="логотип Лінкедин"
                            class="social-link__icon-dark">
                            <use href="./images/icons.svg#icon-linkedin-logo"></use>
                        </svg></a></li>
            </ul>
        </div>
    </div>
</footer>