<footer class="foot">
  <div class="container footer">
    <a href="#" class="logo-footer-link link">
      <img src="./images/logo-white.png" />
    </a>
    <div class="info-footer">
      <h3 class="footer-title">Информация</h3>
      <ul class="page-footer-desktop__list">
        <li class="footer-item">
          <a href="./index.html" class="footer-link link">Главная</a>
        </li>
        <li class="footer-item">
          <a href="#projects" class="footer-link link">Галерея</a>
        </li>
        <li class="footer-item">
          <a href="#projects" class="footer-link link">Проекты</a>
        </li>
        <li class="footer-item">
          <a href="#sertificates" class="footer-link link">Сертификаты</a>
        </li>
        <li class="footer-item">
          <a href="#contacts" class="footer-link link">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="footer__contacts">
      <h3 class="footer-title">Контакты</h3>
      <address>
        <ul class="list-contacts">
          <li class="list-contacts__item">
            <a class="list-contacts__link address-link link" href="https://goo.gl/maps/rzWhCd4JWV9NkAao8"
              target="_blank" rel="noopener noreferrer nofollow">
              <svg class="contact-icon">
                <use href="./images/icons.svg#location"></use>
              </svg>
              100000, Республика Казахстан,<br> г. Караганда, ул.
              Телевизионная 10
            </a>
          </li>
          <li class="list-contacts__item">
            <a class="list-contacts__link link" href="tel:+380961111111">
              <svg class="contact-icon">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              +38 (000) 000 00 00
            </a>
          </li>
          <li class="list-contacts__item">
            <a class="list-contacts__link link" href="mailto:info@devstudio.com">
              <svg class="contact-icon">
                <use href="./images/icons.svg#icon-email-form"></use>
              </svg>mail@gmail.com
            </a>
          </li>

        </ul>
      </address>
    </div>
    <div class="network-links">
      <h3 class="footer-title">Социальные сети</h3>
      <ul class="list-social-network">
        <li class="list-social-network__item"><a class="web-link link" href=" https://www.facebook.com/" target="_blank"
            rel="noopener noreferrer nofollow"><svg aria-label="логотип Фейсбук" class="social-icon">
              <use href="./images/icons.svg#facebook"></use>
            </svg></a></li>
        <li class="list-social-network__item"><a class="web-link link" href=" https://twitter.com/" target="_blank"
            rel="noopener noreferrer nofollow"><svg aria-label="логотип Твиттер" class="social-icon">
              <use href="./images/icons.svg#twitter"></use>
            </svg></a></li>
        <li class="list-social-network__item"><a class="web-link link" href=" https://www.linkedin.com/" target="_blank"
            rel="noopener noreferrer nofollow"><svg aria-label="логотип Линкедин" class="social-icon">
              <use href="./images/icons.svg#linkedin"></use>
            </svg></a></li>
        <li class="list-social-network__item"> <a class="web-link link" href="https://pinterest.com/" target="_blank"
            rel="noopener noreferrer nofollow"><svg aria-label="логотип Пинтерест" class="social-icon">
              <use href="./images/icons.svg#pinterest"></use>
            </svg></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-root">
    <p class="footer-root__label">© 2019 Digital Project. Все права защищены.</p>
  </div>
</footer>