<header class="page-header">
    <div class="container header-container">
        <a href="#" class="link logo-link">
            <img src="./images/logo.png" class="logo-img" /></a>
        <nav class="page-header-desktop">
            <ul class="page-header-desktop__list">
                <li class="page-header-desktop__menu-item ">
                    <a href="./index.html" class="header-link link">Главная</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#projects" class="header-link link">Галерея</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#projects" class="header-link link">Проекты</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#about" class="header-link link">Сертификаты</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#contacts" class="header-link link">Контакты</a>
                </li>
            </ul>
        </nav>
        <!-- Mobile menu -->
        <button type="button" class="open-mobmenu js-open-menu"><svg class="open-mobmenu__icon" width="40px"
                height="40px">
                <use href="./images/icons.svg#icon-burger"></use>
            </svg></button>
        <div class="mobile-menu js-menu-container">
            <div class="container mobile-menu__container ">
                <button class="mobile-menu__close-btn js-close-menu">
                    <svg class="mobile-menu__close-icon" width="40px" height="40px">
                        <use href="./images/icons.svg#icon-close"></use>
                    </svg>
                </button>
                <ul class="mobmenu-list">
                    <li class="page-header-desktop__menu-item  ">
                        <a href="./index.html" class="header-link link">Главная</a>
                    </li>
                    <li class="page-header-desktop__menu-item  ">
                        <a href="#projects" class="header-link link">Галерея</a>
                    </li>
                    <li class="page-header-desktop__menu-item ">
                        <a href="#projects" class="header-link link">Проекты</a>
                    </li>
                    <li class="page-header-desktop__menu-item ">
                        <a href="#about" class="header-link link">Сертификаты</a>
                    </li>
                    <li class="page-header-desktop__menu-item ">
                        <a href="#contacts" class="header-link link">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
</header>