<header class="page-header">
    <div class="container header-container">
        <a href="#" class="link logo-link">
            <img src="./images/logo.png" class="logo-img" /></a>
        <nav class="page-header-desktop">
            <ul class="page-header-desktop__list">
                <li class="page-header-desktop__menu-item ">
                    <a href="./index.html" class="header-link link">Главная</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#projects" class="header-link link">Галерея</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#projects" class="header-link link">Проекты</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#sertificates" class="header-link link">Сертификаты</a>
                </li>
                <li class="page-header-desktop__menu-item ">
                    <a href="#contacts" class="header-link link">Контакты</a>
                </li>
            </ul>
        </nav>

    </div>
</header>