<section>
    <div class="container hero-container">
        <div>
            <h1 class="hero-title"> Project <span class="hero-title__part">home</span></h1>
            <div class="buttons-wrapper">
                <span class="button-arrow"><svg class="button-arrow__img">
                        <use href="./images/icons.svg#arrow-left"></use>
                    </svg></span>
                <span class="button-arrow"><svg class="button-arrow__img">
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg></span>
            </div>
            <div class="date-wrapper">
                <p class="date-value">01 / 02</p>
            </div>
        </div>
        <div class="img-wrapper">
            <img src="./images/main-img.jpg" width="770" />
            <button type="button" class="info-button">Взглянуть <span><svg class="button-arrow__btn">
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg></span></button>
        </div>

    </div>
</section>