<section class="section" id="projects">
    <div class="container">
        <h1 class="title">Наши проекты</h1>
        <ul class="project-img-list">
            <li class="project-img-list__item">
                <div class="img-project-wrapper"><img src="./images/project-img.jpg.png" width="570" height="255" />
                    <p class="overlay-text">ДОСУГОВЫЙ ЦЕНТР <span class="button-arrow label">Подробнее<svg
                                class="button-arrow__white">
                                <use href="./images/icons.svg#arrow-right"></use>
                            </svg></span></p>
                </div>
            </li>
            <li class="project-img-list__item">
                <div class="img-project-wrapper"><img src="./images/project1-img.jpg" width="570" height="255" />
                    <p class="overlay-text">ДОСУГОВЫЙ ЦЕНТР <span class="button-arrow label">Подробнее<svg
                                class="button-arrow__white">
                                <use href="./images/icons.svg#arrow-right"></use>
                            </svg></span></p>
                </div>
            </li>
            <li class="project-img-list__item">
                <div class="img-project-wrapper"><img src="./images/project2-img.jpg" width="270" height="255" />
                    <p class="overlay-text">ДОСУГОВЫЙ ЦЕНТР <span class="button-arrow label">Подробнее<svg
                                class="button-arrow__white">
                                <use href="./images/icons.svg#arrow-right"></use>
                            </svg></span></p>
                </div>
            </li>
            <li class="project-img-list__item">
                <div class="img-project-wrapper"><img src="./images/project3-img.jpg" width="470" height="255" />
                    <p class="overlay-text">ДОСУГОВЫЙ ЦЕНТР <span class="button-arrow label">Подробнее<svg
                                class="button-arrow__white">
                                <use href="./images/icons.svg#arrow-right"></use>
                            </svg></span></p>
                </div>
            </li>
            <li class="project-img-list__item">
                <div class="img-project-wrapper"><img src="./images/project4-img.jpg" width="370" height="255" />
                    <p class="overlay-text">ДОСУГОВЫЙ ЦЕНТР <span class="button-arrow label">Подробнее<svg
                                class="button-arrow__white">
                                <use href="./images/icons.svg#arrow-right"></use>
                            </svg></span></p>
                </div>
            </li>
        </ul>
        <button type="button" class="project-button">Вcе проекты <span><svg class="button-arrow__white">
                    <use href="./images/icons.svg#arrow-right"></use>
                </svg></span></button>
    </div>
</section>