<section class="section">
    <div class="container">
        <h1 class="title">Основные задачи</h1>
        <ul class="tasks-list">
            <li class="tasks-list__item">
                <span class="item-number">1</span>
                <p class="tasks-text">Создание комфортных условий и повышение качества обслуживания
                    клиентов</p>
            </li>
            <li class="tasks-list__item">
                <span class="item-number">2</span>
                <p class="tasks-text">Постоянно совершенствовать качество предоставляемых услуг путем
                    обучения персонала,
                    закупки нового оборудования и
                    усиленной рекламы на рынке</p>
            </li>
        </ul>
    </div>
</section>