.tasks-list {
    margin-top: 60px;
    display: flex;

    justify-content: space-between;
}

.tasks-list__item {
    display: flex;
    align-items: center;
    flex-basis: calc((100% - 30px)/2);

}

.item-number {
    // font-family: 'SF Pro Display';
    font-weight: 900;
    font-size: 200px;
    line-height: 1.19;
    color: #F2F2F2;
    margin-right: 30px;
}

.tasks-text {
    font-size: 22px;
    line-height: 1.6;
    color: #333333;
}